/Users/ltaing/Documents/SIMPLON DATA IA/IA/ML PROJET/PROJET JOB/scrapping/.ipynb_checkpoints
/Users/ltaing/Documents/SIMPLON DATA IA/IA/ML PROJET/PROJET JOB/mongodb/.ipynb_checkpoints
/Users/ltaing/Documents/SIMPLON DATA IA/IA/ML PROJET/PROJET JOB/.ipynb_checkpoints